<html>
  {%- include head.html -%}
  <body>
        
      

<main class="blog" itemscope="" itemtype="http://schema.org/Blog">
    
    <h1 itemprop="name">hmpg</h1>
    

    {{ content }}

    

 
</main>


<!--- <section class="webring">
    
    <a href="https://jplattel.nl/">← Previous</a>
    
    <div>
        
        ○
        <a href="https://webring.stavros.io/" class="webring-name">
            Tech Makers Webring
        </a>
        
    </div>
    
    <a href="https://whynot.fail/">Next →</a>
    
</section>--->



<footer>
    
    Subscribe <a href="/rss/">via RSS</a>
    / <a href="/newsletter/">via Email</a>.
    

    
    <br><p>Public domain everything.</p>
    
</footer>


  </body>

</html>

        
        
    

</body>
